---
# SPDX-FileCopyrightText: 2025-2026  IMAGIN sp. z o.o.
# SPDX-FileContributor: Marcin Engelmann <mengelmann@octivi.com>
# SPDX-License-Identifier: MIT
#
# This file is part of the configuration created by Octivi's DevOps team.
# Details at https://octivi.com/devops
#
# Be sure to enable "Allow GitHub Actions to create and approve pull requests" in
# the repository settings under "Actions" -> "General".
#
# In a public repository, if there is no activity for 60 days, GitHub may
# automatically disable on: schedule execution.
#
# Cron in Actions may be delayed (does not guarantee execution to the minute).
name: Update year in headers & create a PR

on:
  schedule:
    - cron: "15 2 6 1 *" # Jan 6th, 02:15 UTC
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: update-year-in-headers
  cancel-in-progress: true

jobs:
  update-year:
    name: Update year in headers
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Update year in headers
        uses: octivi/update-copyright-year@v1
        with:
          organization_regexp: "IMAGIN [sS]p\\. z o\\.o\\."

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          branch: update-year-in-headers
          delete-branch: true
          commit-message: "chore: Update year in headers"
          title: Update year in headers
          body: |
            Automated update of year in headers.
          labels: |
            automation
            maintenance
